<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wsindicadoreseconomicosSoap" maxReceivedMessageSize="1000000">
          <security mode="Transport" />
        </binding>
        <binding name="wsindicadoreseconomicosSoap1" />
        <binding name="ServicioProductoSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ServicioProductoSoap1" />
        <binding name="ServicioClienteSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ServicioClienteSoap1" />
        <binding name="ServicioUsuarioSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ServicioUsuarioSoap1" />
        <binding name="ServicioClienteSoap2" />
        <binding name="ServicioProductoSoap2" />
        <binding name="ServicioUsuarioSoap2" />
      </basicHttpBinding>
      <customBinding>
        <binding name="wsindicadoreseconomicosSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx"
        binding="basicHttpBinding" bindingConfiguration="wsindicadoreseconomicosSoap"
        contract="ServiceReference2.wsindicadoreseconomicosSoap" name="wsindicadoreseconomicosSoap" />
      <endpoint address="https://localhost:44350/ServicioProducto.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServicioProductoSoap"
        contract="ServiceReference3.ServicioProductoSoap" name="ServicioProductoSoap" />
      <endpoint address="https://localhost:44350/ServicioCliente.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServicioClienteSoap"
        contract="ServiceReference4.ServicioClienteSoap" name="ServicioClienteSoap" />
      <endpoint address="https://localhost:44350/ServicioUsuario.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServicioUsuarioSoap"
        contract="ServiceReference5.ServicioUsuarioSoap" name="ServicioUsuarioSoap" />
      <endpoint address="http://kokoyjesus-001-site1.itempurl.com/ServicioCliente.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServicioClienteSoap2"
        contract="ServicioClientes.ServicioClienteSoap" name="ServicioClienteSoap1" />
      <endpoint address="http://kokoyjesus-001-site1.itempurl.com/ServicioProducto.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServicioProductoSoap2"
        contract="ServicioProductos.ServicioProductoSoap" name="ServicioProductoSoap1" />
      <endpoint address="http://kokoyjesus-001-site1.itempurl.com/ServicioUsuario.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServicioUsuarioSoap2"
        contract="ServicioUsuarios.ServicioUsuarioSoap" name="ServicioUsuarioSoap1" />
    </client>
  </system.serviceModel>
</configuration>
